@charset "utf-8";
/* CSS Document */

h1{ 
   widht: 100%;
   background-color: saddlebrown;
	color:blanchedalmond;
		}
@media screen and ( min-width : 361px ) and (max-width : 640px ){ 
	
	h1{ 
		width: 50%;
	}
	
}

@media  ( min-width : 641px ) { 
	
	h1{ 
		width: 50%;
	}	
	
}